<div class="grid grid-cols-1 gap-8 border-b lg:border-none border-gray-300">
  <h1 class="font-poppins font-medium text-2xl max-lg:mt-16 mt-20">3legant</h1>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <p class="text-xs">43111 Hai Trieu street,</p>
      <p class="text-xs">District 1, HCMC</p>
      <p class="text-xs">Vietnam</p>
    </div>

    <div>
      <p class="text-xs">84-756-3237</p>
    </div>
  </div>
  <div class="flex gap-6 mb-8">
    <img src="../../assets/icons/instagram.svg" alt="instagram" />
    <img src="../../assets/icons/facebook.svg" alt="facebook" />
    <img src="../../assets/icons/youtube.svg" alt="youtube" />
  </div>
</div>
