<div class="flex justify-center items-center gap-3 p-3 bg-blue-500 text-white">
  <img src="../../assets/icons/ticket-percent.svg" alt="ticket percent" />
  <p class="text-sm font-semibold">30% off store wide - Limited time!</p>
  <a
    class="relative hidden sm:flex items-end justify-center gap-2 text-sm before:h-[1px] before:w-full before:bg-white before:absolute before:-bottom-1 before:left-0"
    href="#"
    >Shop now <lucide-icon class="w-4 h-4" name="arrow-right"></lucide-icon>
  </a>
  <lucide-icon class="max-sm:block hidden w-5 ml-2" name="x"></lucide-icon>
</div>
