<div
  class="flex flex-col lg:flex-row-reverse lg:items-center lg:w-full lg:justify-between gap-8 border-t border-gray-300 mt-8"
>
  <div class="flex md:justify-center gap-1 mt-6 lg:mt-0">
    <img src="../../../assets/images/payement/Card=Visa.png" alt="Visa" />
    <img src="../../../assets/images/payement/Card=Amex.png" alt="Amex" />
    <img
      src="../../../assets/images/payement/Card=Mastercard.png"
      alt="Mastercard"
    />
    <img src="../../../assets/images/payement/Card=Stripe.png" alt="Stripe" />
    <img src="../../../assets/images/payement/Card=PayPal.png" alt="PayPal" />
    <img
      src="../../../assets/images/payement/Card=ApplePay.png"
      alt="ApplePay"
    />
  </div>

  <div
    class="flex flex-col lg:flex-row lg:mt-6 gap-7 justify-center items-center mb-6"
  >
    <div class="flex justify-center items-center gap-7">
      <p class="text-xs font-poppins">Privacy Policy</p>
      <p class="text-xs font-poppins">Terms of Use</p>
    </div>
    <p class="text-xs font-poppins">
      Copyright © 2023 3legant. All rights reserved
    </p>
  </div>
</div>
