<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<section class="container flex flex-col mb-8 gap-10">
  <h2 class="font-poppins text-4xl font-medium max-sm:text-center">Just In</h2>

  <div
    class="grid grid-cols-1 gap-4 max-sm:place-items-center sm:grid-cols-2 sm:gap-4 lg:grid-cols-4 lg:gap-8"
  >
    @for (item of newIn; track $index) {
    <app-shop-card
      class="w-fit"
      [title]="item.title"
      [imgSrc]="item.imgSrc"
      [price]="item.price"
      [active]="item.active"
      [ngClass]="
        $index % 2 !== 0 ? 'md:justify-self-end' : 'md:justify-self-start'
      "
    />
    }
  </div>
</section>
