<div class="bg-[#F3F5F7]">
  <img class="w-full" src="../../assets/images/snow-hero.png" alt="snow-hero" />
  <div class="container flex flex-col justify-center h-[370px]">
    <div class="flex flex-col justify-center gap-4">
      <p class="font-bold text-blue-500 capitalize">Sale up to 35% off</p>
      <h2 class="font-poppins font-medium text-4xl">
        HUNDREDS of New lower prices!
      </h2>
      <p class="text-xl">Hurry up!!! Winter is coming!</p>
    </div>
    <a
      href="#"
      class="relative w-fit flex items-center gap-2 mt-6 text-black before:absolute before:w-full before:h-[1px] before:bg-black before:-bottom-[2px] before:left-0"
      >Shop Now <lucide-icon class="w-4 h-4" name="arrow-right"></lucide-icon
    ></a>
  </div>
</div>
