<section class="mt-6 mb-6 ml-8">
  <h2
    class="font-poppins font-semibold text-xl capitalize text-center text-gray-400"
  >
    Trending brands
  </h2>
  <div class="flex py-6 whitespace-nowrap overflow-hidden relative gap-10">
    <div class="inline-flex gap-10 animate-scroll">
      <div class="w-32">
        <img src="../../assets/images/logos/logo 01.png" alt="logo 1" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 04.png" alt="logo 4" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 05.png" alt="logo 5" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 01.png" alt="logo 1" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 04.png" alt="logo 4" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 05.png" alt="logo 5" />
      </div>
    </div>
    <div class="inline-flex gap-10 animate-scroll">
      <div class="w-32">
        <img src="../../assets/images/logos/logo 01.png" alt="logo 1" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 04.png" alt="logo 4" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 05.png" alt="logo 5" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 01.png" alt="logo 1" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 04.png" alt="logo 4" />
      </div>
      <div class="w-32">
        <img src="../../assets/images/logos/logo 05.png" alt="logo 5" />
      </div>
    </div>
  </div>
</section>
